body {
    background-color: rgb(54, 127, 151);
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5em 3em 1fr 1fr 3em;
    gap: 1em;
}

.header { 
    grid-column: 1 /5;
    grid-row: 1 / 1;
    background-color: #3d93a9;
    color: white;
}  

.nav { 
    grid-column: 1 / 5;
    grid-row: 2 / 2;
    background-color: #ffffff61;
    color: white;
    height: auto;
}

.nav ul {
    padding: 0;
}

.nav li {
    list-style-type:none;
    display:inline-flex;
    height: 1.5em;
    padding: 0 1em;
    line-height: 1.5em;
}

nav a {
    color: black;
    text-decoration: none; 
}

.main {
    grid-column: 1 / 4;
    grid-row: 3 / 5;
    background-color: crimson;
}

.postbox {
    grid-column: 4 / 5;
    grid-row: 3 / 5;
    background-color: blueviolet;
}

.footer {
    grid-column: 1 / 5;
    grid-row: 5 / 5;
    background-color: aquamarine;
    text-align:center;
}

input {
    width: 100%;
  }
input[type=submit] {
    background-color: green;
    color: white;
}

select {
    width: 100%;
  }

